<!doctype html>
<html>
    <head>
        <title>List Render</title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>
        <p>We can use the v-for directive to render a list of items based on an array</p>
        <div id="app-1">
            <ul>
                <li v-for="item in items">
                    {{ item.message }}
                </li>
            </ul>
        </div>
        <script>
            var app1 = new Vue({
                el: '#app-1',
                data: {
                    items: [
                        { message: 'Foo' },
                        { message: 'Bar' }
                    ]
                }
            })
        </script>

        <p>Inside v-for block we have full access to parent scope properties</p>
        <ul id="app-2">
            <li v-for="(item, index) in items">
                {{ parentMessage }} - {{ index }} - {{ item.message }}
            </li>
        </ul>
        <script>
            var app2 = new Vue({
                el: '#app-2',
                data: {
                    parentMessage: 'Parent',
                    items: [
                        { message: 'Foo' },
                        { message: 'Bar' }
                    ]
                }
            })
        </script>

        <p>You can also use of as the delimiter instead of in</p>
        <ul id="app-3">
            <li v-for="item of items">{{ item.message }}</li>
        </ul>
        <script>
            var app3 = new Vue({
                el: '#app-3',
                data: {
                    items: [
                        { message: 'Foo' },
                        { message: 'Bar' }
                    ]
                }
            })
        </script>

        <p>You can also use v-for to iterate throught the properties of an object</p>
        <ul id="app-4">
            <li v-for="v in object">
                {{ v }}
            </li>
        </ul>
        <script>
            var app4 = new Vue({
                el: '#app-4',
                data: {
                    object: {
                        firstName: 'Jeffrey',
                        lastName: 'Zhang',
                        age: 34
                    }
                }
            })
        </script>

        <p>You can also provide a second argument for the key</p>
        <ul id="app-5">
            <li v-for="(value, key) in object">
                {{ key }}: {{ value }}
            </li>
        </ul>
        <script>
            var app5 = new Vue({
                el: '#app-5',
                data: {
                    object: {
                        firstName: 'Tom',
                        lastName: 'Xie',
                        age: 30
                    }
                }
            })
        </script>

        <p>And other for the index</p>
        <ul id="app-6">
            <li v-for="(v, k, i) in object">
                {{ i }}. {{ k }}: {{ v }}
            </li>
        </ul>
        <script>
            var app6 = new Vue({
                el: '#app-6',
                data: {
                    object: {
                        firstName: 'Tom',
                        lastName: 'Xie',
                        age: 30
                    }
                }
            })
        </script>

        <p>
            To give Vue a hint so that it can track each node's identity,
            and thus reuse reorder existing elements,
            you need to provide a unique key attribute for each item.
        </p>
        <ul id="app-7">
            <li v-for="(item, index) in items" :key="index">{{ index }} - {{ item.message }}</li>
        </ul>
        <script>
            var app7 = new Vue({
                el: '#app-7',
                data: {
                    items: [
                        { message: 'Foo' },
                        { message: 'Bar' }
                    ]
                }
            })
        </script>

        <p>In comparison, there are also non-mutating methods,
            which do not mutate the original array but always return a new array</p>
        <ul id="app-8">
            <li v-for="item in items">{{ item.message }}</li>
        </ul>
        <script>
            var app8 = new Vue({
                el: '#app-8',
                data: {
                    items: [
                        { message: 'Foo' },
                        { message: 'Bar' }
                    ]
                }
            })
        </script>

        <p>Vue cannot detect property addition deletion</p>
        <div id="app-9">
            <p>a: {{ a }}</p>
            <!--
            <p>b: {{ b }}</p>
            -->
        </div>
        <script>
            var app9 = new Vue({
                el: '#app-9',
                data: {
                    // app9.a is now reactive
                    a: 1
                }
            })

            // app9.b is not reactive
            app9.b = 2
        </script>

        <p>You could add a new property to the nested object</p>
        <ul id="app-10">
            <li v-for="(value, key) in userProfile">
                {{ key }} - {{ value}}
            </li>
        </ul>
        <script>
            var app10 = new Vue({
                el: '#app-10',
                data: {
                    userProfile: {
                        name: 'Anika'
                    }
                }
            })
        </script>

        <p>Sometimes we want to display a filtered or sorted version of an array without actually mutating or resetting the original data</p>
        <ul id="app-11">
            <li v-for="n in evenNumbers">{{ n }}</li>
        </ul>
        <script>
            var app11 = new Vue({
                el: '#app-11',
                data: {
                    numbers: [1, 2, 3, 4, 5]
                },
                computed: {
                    evenNumbers: function() {
                        return this.numbers.filter(function(number) {
                            return number % 2 === 0
                        })
                    }
                }
            })
        </script>

        <p>In situations where computed properties are not feasible,
            you can user a method</p>
        <ul id="app-12">
            <li v-for="n in even(numbers)">{{ n }}</li>
        </ul>
        <script>
            var app12 = new Vue({
                el: '#app-12',
                data: {
                    numbers: [1, 2, 3, 4, 5, 6, 7, 8]
                },
                methods: {
                    even: function() {
                        return this.numbers.filter(function(n) {
                            return n % 2 === 0
                        })
                    }
                }
            })
        </script>

        <p>v-for can also take an integer</p>
        <div id="app-13">
            <span v-for="n in 10">{{ n }}</span>
        </div>
        <script>
            var app13 = new Vue({
                el: '#app-13'
            })
        </script>

        <p>Similar to template v-if, you can also use a &lt;template&gt; tag with v-for to render a block of multiple elements</p>
        <ul id="app-14">
            <template v-for="item in items">
                <li>{{ item.msg }}</li>
                <li class="divider"></li>
            </template>
        </ul>
        <script>
            var app14 = new Vue({
                el: '#app-14',
                data: {
                    items: [
                        { msg: 'Foo' },
                        { msg: 'Bar' }
                    ]
                }
            })
        </script>

        <p>When they exist on the same node, v-for has a higher priority then v-if</p>
        <ul id="app-15">
            <li v-for="todo in todos" v-if="!todo.isComplete">
                {{ todo.id }} - {{ todo.title }}
            </li>
        </ul>
        <script>
            var app15 = new Vue({
                el: '#app-15',
                data: {
                    todos: [
                        { id: 1, title: 'Sina Wiebo', isComplete: true },
                        { id: 2, title: 'Tencent Weixin', isComplete: false },
                        { id: 3, title: 'Alibaba Alipay', isComplete: true }
                    ]
                }
            })
        </script>

        <p>If instead, you intent is to conditionally skip execution of the loop, you can place the v-if on a wrapper element</p>
        <div id="app-16">
            <ul v-if="todos.length">
                <li v-for="todo in todos">
                    {{ todo.id }} - {{ todo.title }}
                </li>
            </ul>
            <p v-else>No todos left!</p>
        </div>
        <script>
            var app16 = new Vue({
                el: '#app-16',
                data: {
                    todos: [
                        { id: 1, title: 'Sina Wiebo', isComplete: true },
                        { id: 2, title: 'Tencent Weixin', isComplete: false },
                        { id: 3, title: 'Alibaba Alipay', isComplete: true }
                    ]
                }
            })
        </script>

        <p>v-for with a component</p>
        <div id="todo-app">
            <input
                v-model="newTodoText"
                v-on:keyup.enter="addNewTodo"
                placeholder="Add a todo">
            <ul>
                <li
                    is="todo-item"
                    v-for="(todo, index) in todos"
                    v-bind:key="todo.id"
                    v-bind:title="todo.title"
                    v-on:remove="todos.splice(index, 1)">
                </li>
            </ul>
        </div>
        <script>
            Vue.component('todo-item', {
                template: '\
                    <li>\
                        {{ title }}\
                        <button v-on:click="$emit(\'remove\')">X</button>\
                    </li>\
                ',
                props: ['title']
            })

            new Vue({
                el: '#todo-app',
                data: {
                    newTodoText: '',
                    todos: [
                        {
                            id: 1,
                            title: 'Do the dishes'
                        },
                        {
                            id: 2,
                            title: 'Take out the trash'
                        },
                        {
                            id: 3,
                            title: 'Mow the lawn'
                        }
                    ],
                    nextTodoId: 4
                },
                methods: {
                    addNewTodo: function() {
                        this.todos.push({
                            id: this.nextTodoId++,
                            title: this.newTodoText
                        })
                        this.newTodoText = ''
                    }
                }
            })
        </script>
    </body>
</html>
